@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  min-width: 360px;
  /* height: 1024px; */
  box-sizing: border-box;
  background-color: rgba(30, 144, 255, 0.5);
  padding: 30px 15px 0;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 25px;
  border-radius: 12px;
  background-color: #FEFEFE;
}

.logo {
  display: none;
}

.nav-bar {
  display: none;
}

.nav-bar__list {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar__list__item__link {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
}

.auth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.auth__item {
  font-weight: 700;
  padding: 11px 36px;
  border: 1px solid #4443D0;
  border-radius: 5px;
}

.color1 {
  color: #4443D0;
}

.color2 {
  color: #fff;
  background-color: #4443D0;
}

.main {
  position: relative;
  z-index: 2;
  max-width: 603px;
  padding-top: 277px;
}

.slogan {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  color: rgba(10, 37, 65, 1);
  margin: 0 0 17px 0;
}

.slogan__link {
  color: rgba(83, 82, 237, 1);
}

.info {
  max-width: 552px;
  font-size: 24px;
  line-height: 28.13px;
}

.image {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 47px;
  width: 985px;
  height: 976px;
}

.form {
  max-width: 475px;
  padding-top: 62px;
}

.form__item {
  display: block;
}

.form__label {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 14px 21px;
  border: 1px solid #2A92F9;
  border-radius: 10px;
}

.form__button {
  margin-top: 28px;
  padding: 11px 36px;
  background: #4140CD;
  font-weight: 700;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  }

  @media (min-width: 898px) {
    .header {
      padding: 24px 48px 18px 64px;
    }

    .nav-bar {
      display: block;
      padding: 11px 35px;
      order: 1;
      margin: 0 auto;
    }

    .auth {
      width: auto;
      justify-content: end;
      gap: 28px;
    }

    .logo {
      display: block;
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(10, 37, 65, 1);
    }

    .nav-bar {
      padding: 11px  119px;
    }
  }

  @media (min-width: 1270px) {
    body {
      padding: 41px 122px 0;
    }

    .header {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  
    .nav-bar {
      flex-grow: 1;
      order: 0;
    }
  }

